ion-content {
    .container {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;  
      ion-label{
          width: 350px;
      }
    }
    }
    .passwordIcon{
        font-size:2rem !important;
        position: relative !important;
        top: 22px !important;
        margin: 0 auto !important;
    }
.forgotpass{
    margin-top: 8px;
    display: inline-block;
    p{
        margin-top: 3px;
        margin-bottom: 6px;
        cursor: pointer;
        color: #5195FF;
    }
}
.logo-circle{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-bottom: 20px;
}
.signin-con{
    .btn-login{
        width: 70%;
        margin-top: 10px;
    }
    .btn-fb{
        width: 70%;
    }
    .login-or{ 
        margin-bottom: 18px;
        margin-top: 18px;
        padding-left: 18px;
        padding-right: 18px;
        display: flex;    
        place-items: center;
        .line{
            margin-left: 12px;
            margin-right: 10px;
            height: 1.3px;
            background-color: #8E8E8E;
            width: -webkit-fill-available;
        }
        .or{
            color: #8E8E8E;
            font-size: 14px;
            margin: 0px;
        }
    }
}