.add-pic{ 
    cursor: pointer; 
    overflow: hidden;
    border-radius: 10px; 
    background: #DBDBDB;
    height: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .add-pic1{ 
        position: relative;
        display: inline-block;
        .imgadd{ 
            position: absolute;
            bottom: 7px;
            right: -1px;
            cursor: pointer;
        }
        .mainimg{
            height: -webkit-fill-available;
        }
    }
} 