ion-col{
    padding: 0px;
} 

.blocks-word-main-con{
    padding: 10px;
    margin: 15px;
    border: 5px solid #FFFFFF;
    border-radius: 8px; 
    .col-con{
        padding: 4px;
    }
    .say{
        color: #847B7B;
        font-size: 18px;
    }
    .blocks-container{
        margin: 8px;
        .block-container{
            background-color: #FFFFFF;
            padding: 12px;
            border-radius: 7px;
            margin-bottom: 8px;
            .block-title{
                font-size: 19px;
            }
            p{
                margin: 0px;
            }
        }
        .block-container:hover{
            cursor: pointer;
            background-color: #F7F7F7;
        }
    }
    .word-input{
        padding: 10px;
        border-radius: 4px;
        border: 2px solid #488AFF;
        width: -webkit-fill-available;
    }
    .choices-block{
        display: flex;
        margin-top: 5px;
        .bot-reply-col{
            border-radius: 4px;
            margin-bottom: 4px;
            border: 2px solid #C6C6C6;
        }
        .non-block{  
            margin: 3px;
            border-radius: 8px; 
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 5px; 
            padding-right: 5px;
            background: #C6C6C6;
            display: flex;
            text-align: center;
             width: fit-content;
            p{
                white-space: pre;
                margin: 0px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                max-width: 120px;
            }
            .txt-message{ 
                p {
                    // layout
                    position: relative;
                    max-width: 30em;
                    
                    // looks
                    background-color: #fff;
                    padding: 1.125em 1.5em;
                    font-size: 1.25em;
                    border-radius: 1rem;
                box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
                }
                
                p::before {
                    // layout
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    bottom: 100%;
                    left: 1.5em; // offset should move with padding of parent
                    border: .75rem solid transparent;
                    border-top: none;
                
                    // looks
                    border-bottom-color: #fff;
                    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
                }
            }
            img{
                margin-left: 3px; 
                margin-right: 3px; 
                cursor: pointer;
            }
        } 
    }
    .line-bottom{
        width: 100%;
        border-bottom: 2px solid #BEBEBE; 
        margin-bottom: 10px;
    }
}