
.content{
    background-color: #F3F2F2;     
    width: 100%; 
}
.toolbar{  
    .toolbar-icon{
        width: 50px;
        background: #ffffff;
        border-radius: 25px;
        padding: 4px;
        margin-left: 10px;
    }
}
.c-blank-proj{
    cursor: pointer;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 10px; 
    height: 380px; 
    width: 260px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-left: 5px; 
    margin-top: 15px; 
    margin-bottom: 15px; 
    .c-blank-proj1{  
        text-align: center;
        .txt{
            p{        
                margin-left: 12px;
                margin-right: 12px;
                text-align: start;
            }
            .title{ 
                font-weight: 300; 
                margin-top: 15px;
                font-size: 23px;
                line-height: normal;
            }
            .desc{
                font-size: smaller;
                font-weight: 580;
                color: #535353;
            }
        }
    }
    .c-proj{ 
        width: 100%;
        text-align: center;
        .txt{
            p{        
                margin-left: 12px;
                margin-right: 12px;
                text-align: start;
            } 
            .title{
                text-align: start;
                font-weight: 500; 
                margin-top: 15px;
                margin-bottom: 0px;
                font-size: 23px;
                line-height: normal;
            }
            .desc{
                font-size: smaller;
                font-weight: 580;
                color: #535353;
            }
        }
        .profile{
            img{
                background: #E6E5E4;
                border-radius: 60px;
                // padding: 10px;  
                height: 90px;
            } 
        }
    }
}
.btn-connect{ 
    position:absolute;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, -50%);
}
.btn-item-menu{
    width: fit-content;
    position: absolute; 
    top: 30px;
    right: 10px;
}
.template-color{
    background-color: #662063;
    color: #ffffff;
}
.blank-color{
    background-color: #208EF0;
    color: #ffffff;
}