.c-main{ 
    text-align: -webkit-center;
}
.passwordIcon{
    font-size:2rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
}
.have-acc{
margin-top: 8px;
display: inline-block;
    p{
        margin-top: 3px;
        margin-bottom: 6px;
        cursor: pointer;
        color: #5195FF;
    }
}

.logo-circle{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.signin-con{
    margin-top: 35px;
    .btn-login{
        width: 100%;
        margin-top: 10px;
    }
    .btn-fb{
        width: 70%;
    }
    .login-or{ 
        margin-bottom: 18px;
        margin-top: 18px;
        padding-left: 18px;
        padding-right: 18px;
        display: flex;    
        place-items: center;
        .line{
            margin-left: 12px;
            margin-right: 10px;
            height: 1.3px;
            background-color: #8E8E8E;
            width: -webkit-fill-available;
        }
        .or{
            color: #8E8E8E;
            font-size: 14px;
            margin: 0px;
        }
    }
}

.con-right{ 
    text-align-last: center;
    // background-color: #91D1F5;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #136ADE; 
    background-image: url("../../../assets/auth-bg.png");
    img{
        // width: -webkit-fill-available;
        // padding: 100px;
    }
    .p{ 
        width: fit-content;
        color: #1E1E1E;
        margin: 0px;
    }
    .desc{
        margin-top: 70px;
        font-size: 28px;
        width: 100%;
        text-align-last: left;
    }
    .title{
        font-size: 90px;
        font-weight: bolder;
        line-height: 96px;
        text-align-last: left;
    }
    .subtitle{
        margin-top: 35px;
        font-weight: 500;
        font-size: 38px;
    }
}
ion-row{ 
    height: 100%; 
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-image: url("../../../assets/auth-bg.png");
} 
.c-getimg{
    position: relative;
    display: inline-block ;
    width: 120px;
    margin-right: 10px;
    .c-img-add{ 
        position: absolute;
        bottom: -8px;
        right: 42px;
        cursor: pointer;
        width: 35px;
    }
    ion-avatar{ 
        width: 80px;
        cursor: pointer;
        img{
            background-color: #E6E6E6 ;
        }
    }
}
.panel{
    text-align-last: left; 
    margin-bottom: 50px;
    .title{
        font-size: 45px;
        color: #2B2B2B; 
    }
    .desc{ 
        color: #8A8A8A; 
        margin-top: 15px; 
    }
}
.container{
    height: 70%;
}
.c-footer{
    padding: 8px;
    display: flex;
    .slot-end{
        width: 100%;
        text-align: -webkit-right;
    }
}
.header{
    margin: 10px; 
    .img-head{
        height: 80px;
    }
}

.c-main-process{
    display: flex;
    justify-content: center;
    .c-process{
        display: flex;
        place-items: center;
        p{
            margin: 0px;
        }
        .i-process{        
            width: -webkit-fill-available;
            text-align: -webkit-center;
            .circle-main{ 
                .circle{
                    background-color: #208EF0;
                    border-radius: 55px;
                    width: 25px;
                    height: 25px;
                    .num{ 
                        margin: 0px;
                        padding-top: 4px;
                        color: white;
                    }
                }
            }
            .c-text{
                margin-top: 10px;
                font-size: revert;
                font-weight: 200;
            }
            .c-cur{ 
                height: 5px;
                width: 40px;
                background: #208EF0;
                border-radius: 8px;
            }
        }
    }
}
.sub-content{
    padding: 12px;
    height: 90%; 
    width: 100%;
}
.privacy{
    height: 90%;
    overflow: auto; 
    width: 100%;
}
.privacy-con{
    float: right;
    display: flex;
    margin-top: 10px;
    ion-checkbox{ 
        margin-left: 10px;
    }
    b{
        cursor: pointer;
    }
}
.process-title{ 
    font-size: revert;
    margin-bottom: 8px;
    font-weight: 300;
}
.account{
    padding-left: 18%;
    padding-right: 18%;
    p{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.basic{
    padding-left: 18%;
    padding-right: 18%;
    p{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.profile{
    padding-left: 18%;
    padding-right: 18%;
    p{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.contact{
    padding-left: 18%;
    padding-right: 18%;
    p{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.contact-con{
    float: right;
    display: flex;
    margin-top: 10px;
    padding-left: 18%;
    padding-right: 18%;
    ion-checkbox{ 
        margin-left: 10px;
    }
    b{
        cursor: pointer;
    }
}
.line{    
    width: 60px;
    height: 1px;
    background: #363636;
}
@media only screen and (max-width: 766px) {  
    .line{  
        width: 30px;
    }
    .resp-acc{
        padding-left: 0%;
        padding-right: 0%;
    }
    .resp-basic{
        padding-left: 0%;
        padding-right: 0%;
    }
    .resp-profile{
        padding-left: 0%;
        padding-right: 0%;
    }
    .resp-contact{
        padding-left: 0%;
        padding-right: 0%;
    }
 }