<ion-content>
  <ion-row >
    <ion-col style="background-color: white;" 
    size="12" size-sm="12" size-lg="4" size-md="4"> 
      <div class="container"> 
        <ion-label class="ion-text-center"   > 
          <div class="panel"> 
            <p class="title"><b>JOIN NOW</b></p>
            <p class="desc"><b>Many opportunity waiting for you.</b></p>
          </div>
          <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()"  (keyup.enter)="onSubmit()">
            <ion-item color="transparent" style="margin-top: 14px;margin-bottom: 14px;" class="ion-no-padding">
              <ion-label position="stacked">Messenger ID</ion-label>
              <ion-input formControlName="pageID" placeholder="Please provide your messenger ID."></ion-input>
            </ion-item>
            <div *ngIf="submitted && f.pageID.errors">  
              <div class="error-text">{{(f.pageID.errors.required) ? 'ID is required' :
                (f.pageID.errors) ? 'Number only.' :  ''}}</div>
            </div>
  
            <ion-item color="transparent" style="margin-top: 14px;margin-bottom: 14px;" class="ion-no-padding">
              <ion-label position="stacked">Email</ion-label>
              <ion-input formControlName="email" placeholder="What is your email address?"></ion-input>
            </ion-item>
            <div *ngIf="submitted && f.email.errors">  
              <div class="error-text">{{(f.email.errors.required) ? 'Email is required' :
                (f.email.errors) ? 'Email is not valid.' :  ''}}</div>
            </div>
  
            <ion-item color="transparent" style="margin-bottom: 14px;" class="ion-no-padding">
              <ion-label position="stacked">Password</ion-label>
              <ion-input formControlName="password" type="{{typePass}}" placeholder="Shhh! don't share your password to anyone except on me. :)"></ion-input>
              <ion-icon class="passwordIcon" slot="end" name="{{imgPass}}" (click)="onClickShow()"></ion-icon>
            </ion-item> 
            <div *ngIf="submitted && f.password.errors">  
              <div class="error-text">{{(f.password.errors.required) ? 'Password is required' :
                (f.password.errors) ? 'Password is not valid.' :  ''}}</div>
            </div>
            <div class="signin-con"> 
              <ion-button   class="btn-login" (click)="onSubmit()"> 
              Sign up</ion-button> 
            </div> 
          </form>
        </ion-label>
      </div>
    </ion-col>
    <ion-col class="con-right shadow" size="12"
     size-sm="12" size-md="" size-lg="" >
     <ion-row> 
      <ion-col size="12"
        size-sm="12" size-md="8" size-lg="8"
        offset="0"
        offset-sm="0" offset-md="1" offset-lg="1"
        class="super-center"> 
        <div> 
          <h1 class="title p">Retail Gate</h1>
          <h3 class="subtitle p">Chatbot builder</h3>
          <h4 class="desc p"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Hac habitasse platea dictumst quisque sagittis purus. Magna ac placerat vestibulum lectus mauris ultrices eros. Ac felis donec et odio pellentesque diam volutpat commodo sed. Molestie nunc non blandit massa.</h4>
          <!-- <img src="../../../assets/bg"> -->
        </div>
      </ion-col>
     </ion-row>
    </ion-col>
  </ion-row>
</ion-content>