<ion-content>
  <ion-buttons class="c-exit" >
    <ion-button (click)="onDismiss()">
      <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <div>
    <div class="c-template">
      <div class="profile" > 
        <!-- <img src="https://images.chatfuel.com/bot/raw/ff2a518e-3ad4-4e48-975f-8d2a0f339a43"> -->
        <img [src]="template_data.temp_img">
      </div>
      <div class="txt">
        <p class="title">{{template_data.name}} </p>
        <p class="subtitle">{{template_data.created_by}} </p>
        <p class="desc">{{template_data.description}} </p>
      </div>
    </div>  
  </div> 
</ion-content>
<ion-footer> 
  <div class="bottom-btns"> 
    <ion-buttons> 
      <ion-button color="primary" (click)="useTemplate()">
        Use
      </ion-button>
      <ion-button color="primary" (click)="onPreviewMe()"> 
        Preview in messenger
      </ion-button>
    </ion-buttons>
  </div>
</ion-footer>