<ion-list>
  <ion-item *ngIf="!isGuest" (click)="onNavigate('/p')" lines="full" details="false" button> 
    Projects
  </ion-item>
  <ion-item  *ngIf="!isGuest" (click)="onNavigate('/c')" lines="full" details="false" button> 
    Templates
  </ion-item> 
  <ion-item *ngIf="!isGuest"  (click)="onConnectFb()" lines="full" details="false" button> 
    Connect to a page
  </ion-item> 
  <ion-item *ngIf="!isGuest" (click)="onInvite()"  lines="full" details="false" button> 
    Invite
  </ion-item>
  <ion-item *ngIf="!isGuest"  (click)="onExport()" lines="full" details="false" button> 
    {{template_id == null ? 'Export as template':'Update template' }}
  </ion-item>
  <ion-item *ngIf="isGuest"  (click)="onContinue()" lines="full" details="false" button> 
    Continue in real account
  </ion-item>
  <ion-item (click)="logout()" lines="full" details="false" button> 
    Logout
  </ion-item>
</ion-list>