<div class="container">
  <h3>{{title}}</h3> 
  <ion-toolbar class="toolbar-segment md in-toolbar hydrated">
    <ion-segment value="all" class="md in-toolbar hydrated">
      <ion-segment-button class="segment-button-checked" >Blocks</ion-segment-button> 
    </ion-segment>
  </ion-toolbar>
  <div class="c-blocks-container">
    <h4>Redirect to block</h4> 
    <ion-row  class="choices-block"> 
      <ion-col *ngFor="let block of blocks;index as i" (click)="onCheckBtnBlock(i)"> 
        <div [class]="block.ischecked ? 'has-block':'non-block'">
          <p class="txt-block">{{block.block_name}}</p>
        </div>
      </ion-col> 
    </ion-row>
  </div> 
</div>