.container{
    padding: 10px;
    overflow: auto;
}
.c-back{ 
    cursor: pointer;
    display: flex; 
    margin: 10px;
    width: fit-content; 
    padding: 6px;
    border-radius: 5px; 
    ion-icon{ 
        height: auto;
        width: 29px;
    }
    h2{ 
        margin: 0px;
        place-self: center;
        margin-left: 10px;
    }
}
.c-back:hover{
    background-color: #DFDFDF;
}