.c-conn-main{
    display: flex;
    margin-bottom: 10px;
    img{
        height: 80px;
    border-radius: 10px;
    }
    h2{
        margin: 0px;
        margin-left: 10px;
        place-self: center;
    }
}