ion-col{
    padding: 0px;
}
.toolbar{ 
    .toolbar-icon{
        width: 50px;
        background: #ffffff;
        border-radius: 25px;
        padding: 4px;
        margin-left: 10px;
    }
}
.blocks-word-main-con{
    padding: 10px;
    margin: 15px;
    border: 5px solid #FFFFFF;
    border-radius: 8px;
    .btn-deploy-con{ 
        margin: 10px;
        ion-button{
            width: 100%;
            height: 50px; 
            margin-bottom: 8px;
        }
        .cust-color{
            background-color: #E7D3D6;
            border-radius: 4px;
        }
    }
    
    .say{
        color: #847B7B;
        font-size: 18px;
    }
    .blocks-container{
        margin: 8px;
        .block-container{
            background-color: #FFFFFF;
            padding: 12px;
            border-radius: 7px;
            margin-bottom: 8px;
            display: flex;
            .block-title{
                font-size: 19px;
                width:-webkit-fill-available;
            }
            p{
                margin: 0px;
            }
        }
        .block-container:hover{
            cursor: pointer;
            background-color: #F7F7F7;
        }
    }
    .word-input{
        padding: 10px;
        border-radius: 4px;
        border: 2px solid #488AFF;
    }
    .choices-block{
        display: flex;
        margin-top: 5px;
        .non-block{ 
            margin: 3px;
            border-radius: 8px;
            width: fit-content;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 5px; 
            padding-right: 5px;
            background: #C6C6C6;
            display: flex;
            text-align: center;
            p{
                white-space: pre;
                margin: 0px;
            }
            img{
                margin-left: 3px; 
                margin-right: 3px; 
            }
        } 
    }
}
.builder-container{ 
    overflow: auto;
    height: 99vh; 
    background-color: #F9F8F8; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 20px;
    
    .builder-block-title{
        margin-bottom: 10px;
        border: 0px;
        background: transparent;
        font-size: 38px;
        margin-top: 8px;
    }
    .slides-main-arrange{
        // height: 57vh;
        max-height: 57vh;
        overflow: auto;
        .builder-block-container{
            // display: flex;
            .logo-nresize{
                cursor: n-resize;
                width: 17px;
                margin: 10px;
            }
            .button-add:hover{   
                background-color: #F4F4F4;
            }
    
            .img-container{  
                cursor: pointer;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                text-align-last: center;
                .img-con-sub{
                    img{
                        width: 60px;
                    }
                } 
            }
    
            .car-main-con{ 
                white-space: nowrap;
                display: inline-flex ;
                .car-container{   
                    height: fit-content;
                    margin-right: 10px;  
                    .car-img{
                        min-height: 180px;
                        cursor: pointer; 
                        justify-content: center;
                        align-items: center;
                        text-align-last: center; 
                        border-bottom: 1px solid #C7C7C7;
                        display: flex ;
                        div{ 
                            img{
                                width: 60px;
                            }
                        }
                    }
                }
                .add-car{
                    width: 150px;
                    height: auto;
                    cursor: pointer; 
                    justify-content: center;
                    align-items: center;
                    text-align-last: center; 
                    border-bottom: 1px solid #C7C7C7;
                    display: flex ;
                }
            }
    
            .line-bottom{
                width: 100%;
                border-bottom: 2px solid #BEBEBE;
                margin-top: 40px;
                margin-bottom: 40px;
            }
        }
    } 
    
    .logo-del{ 
        cursor: pointer;
        width: 17px;
        margin: 10px;
    }
    
    .textarea-container{
        padding: 10px;
        .txt{
            height: 250px; 
            width: 100%;
            overflow: hidden;
            background-color: transparent;
            font-size: 16px;
            line-height: 1.32; 
            height: 189px;
            padding: 7px 9px;
            white-space: pre-wrap;
            margin: 0;
            border-radius: 7px;
            top: 0;resize: none; 
            border: 0;
        }
    }
} 

.buttons-container:hover  .del-btn-txt {
    display: block;
}
.buttons-container{ 
    .del-btn-txt{
        width: 100%;
        // background: #FC4338;
        color: #FC4338;
        padding: 8px;
        display: none;
    }
    .button{
        padding: 2px;
        cursor: pointer;
        text-align: center;
        border-top: 1px solid #C7C7C7; 
        .button-title{
            color: #0084CA;
            font-size: 19px;
            margin-top: 10px;
            margin-bottom: 0px;
        } 
        .input{
            border:0px;
            text-align:center;
        }
        .button-main{ 
            display: flex;
            margin: 2px;
            .button-subtitle{
                // display: flex;
                margin-top: 7px;
                margin-bottom: 12px;
                justify-content: center;
            }
            .button-url{
                color: #AAAAAA;
                font-size: 14px;
                font-weight: bold;
                margin-top: 7px;
                margin-bottom: 12px;
            }
            .func{
                width: 88%;
            }
        }
    } 
    .err-button{
        padding: 2px;
        cursor: pointer;
        text-align: center;
        border: 1px solid #FC4338; 
        .button-main{ 
            display: flex;
            margin: 2px;
            
            .button-subtitle{
                // display: flex;
                margin-top: 7px;
                margin-bottom: 12px;
                justify-content: center;
                p{  
                    padding: 7px;
                    color: #FC4338;
                    border: 2px solid #FC4338;
                    border-radius: 6px;
                    margin: 2px;
                    // border-right: 1px solid; 
                    font-size: 14px;
                }
            }
            .button-url{
                color: #FC4338;
                font-size: 14px;
                font-weight: bold; 
                margin-top: 7px;
                margin-bottom: 12px;
            }
            .func{
                width: 88%;
            }
        }
        .button-title{
            color: #FC4338;
            font-size: 19px;
            margin-top: 10px;
            margin-bottom: 0px;
        }  
    }
}
.qreply-main-con{ 
    margin-top: 32px;
    display: grid;
    .qreply-txt{
        padding: 10px;
        border-radius: 4px;
        width: 310px;
        background: #D4D4D4;
        border: 0px;
        width: 310px;
        margin-bottom: 12px;
    }
    .con{
        display: inline-flex ;
        .qreply-button{
            
            margin-right: 8px;
            padding: 2px;
            cursor: pointer;
            text-align: center; 
            width: 310px;
            border: 2px solid #44B0B0;
            border-radius: 15px; 
            .button-title{
                color: #44B0B0;
                font-size: 19px;
                margin-top: 10px;
                margin-bottom: 0px;
            } 
            .button-main{ 
                display: flex;
                margin: 2px;
                .button-subtitle{
                    // display: flex;
                    margin-top: 7px;
                    margin-bottom: 12px;
                    justify-content: center; 
                } 
                .func{
                    width: 88%;
                }
            }
        } 
        .err-qreply-button{
            margin-right: 8px;
            padding: 2px;
            cursor: pointer;
            text-align: center; 
            width: 310px;
            border: 2px solid #FC4338;
            border-radius: 15px; 
            .button-title{
                color: #FC4338;
                font-size: 19px;
                margin-top: 10px;
                margin-bottom: 0px;
            } 
            .button-main{ 
                display: flex;
                margin: 2px;
                .button-subtitle{
                    // display: flex;
                    margin-top: 7px;
                    margin-bottom: 12px;
                    justify-content: center;
                } 
                .func{
                    width: 88%;
                }
            }
        } 
        .qreply-add-btn{
            // height: 100%;
            width: 80px;
            // border: 2px solid #89B3FE;
            border-radius: 15px;
            // width: 150px;
            height: auto;
            cursor: pointer; 
            justify-content: center;
            align-items: center;
            text-align-last: center;  
            display: flex ;
            padding: 14px;
        }
    }
}
.cback-container{
    padding: 8px; 
    margin-bottom: 20px;
    .cback-input{
        padding: 2px;
        width:100%;
        border-radius: 4px;
        border: 2px solid #007ACC;
    }
    .cback-block{
        padding: 8px;
        background: #B7B7B7;
        text-align-last: center;
        border-radius: 6px;
        margin-top: 8px;
        cursor: pointer;
        h3{
            margin: 0px;
        }
    }
    .list-block{
        width: 100%;
        margin-top: 4px;
        margin-bottom: 4px;
        padding: 6px;
        border-radius: 6px;
        border:2px solid #C6C6C6; 
    }
}

.block-style{
    background: #D0D0D0;
    padding: 7px;
    border-radius: 6px; 
    font-size: 14px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 120px;
    margin: 3px;
}
.button-add{ 
    cursor: pointer;
    display: -webkit-inline-box;
    width: 100%;
    -webkit-box-pack: center;
    border-top: 1px solid #C7C7C7;
    .plus-container{
        height: auto;
        img{ 
            height: 100%;
            padding: 10px; 
        } 
    } 
    .add-button-txt{
        margin: revert;
    }
}
ion-col{
    padding: 0px;
}
.ion-popover {
    --width: 4500px;
}

.mini-block{
    .mini-blocks-con{ 
        white-space: nowrap;
        .btn-mini-block-con{ 
            cursor: pointer;
            margin-left: 10px;
            height: 120px;
            width: 100px;
            padding: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            display: inline-flex ;
            div{
                text-align-last: center;
                h5{
                    color: #FFFFFF;
                    font-size: 18px;
                }
            }
        } 
    }
}

.txt-color{ 
    background: #208EF0;
}
.img-color{ 
    background: #9273B6;
}
.car-color{ 
    background: #269968;
}
.qreply-color{ 
    background: #44B0B0;
} 
.cback-color{ 
    background: #350D36;
}
.lchat-color{ 
    background: #853D47;
}


.block-card{ 
    width: 310px;
    border-radius: 7px;
    background-color: #FFFFFF;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 0 0 rgba(0, 0, 0, 0.08);
}
.item-transaparent{
    --background:#FFFFFF
}
.err-text{
    border: 2px solid red;
    color: red;
}

.cdk-drop-list-dragging .cdk-drag {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-animating {
transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
 
.arrange-main{
    display: flex;
    margin-bottom: 10px;
    .arrange{
        cursor: pointer;
        border-radius: 7px;
        padding: 15px; 
        text-align: center;
        margin: 2px;
        height: fit-content;
        h5{
            margin: 0px;
            color: #FFFFFF;
            font-size: 15px;
            font-weight: 800;
        }
        h3{
            margin: 0px;
            font-size: 13px;
            color: #FFFFFF;
            font-weight: 800;
        }
    }
}
// * {
//     font-family: Arial, Helvetica, san-serif;
//   }
//   .row:after, .row:before {
//     content: " ";
//     display: table;
//     clear: both;
//   }
//   .span6 {
//     float: left;
//     width: 48%;
//     padding: 1%;
//   }
//   .emojionearea-editor:not(.inline) {
//     min-height: 8em!important;
//   }