ion-col{
    padding: 0px;
}
.blocks-word-main-con{
    padding: 10px;
    margin: 15px;
    border: 5px solid #FFFFFF;
    border-radius: 8px;
    .btn-deploy-con{ 
        margin: 10px;
        ion-button{
            width: 100%;
            height: 50px;
        }
    }
    
    .say{
        color: #847B7B;
        font-size: 18px;
    }
    .blocks-container{
        margin: 8px;
        .block-container{
            background-color: #FFFFFF;
            padding: 12px;
            border-radius: 7px;
            margin-bottom: 8px;
            .block-title{
                font-size: 19px;
            }
            p{
                margin: 0px;
            }
        }
        .block-container:hover{
            cursor: pointer;
            background-color: #F7F7F7;
        }
    }
    .word-input{
        padding: 10px;
        border-radius: 4px;
        border: 2px solid #488AFF;
    }
    .choices-block{
        display: flex;
        margin-top: 5px;
        .non-block{ 
            margin: 3px;
            border-radius: 8px;
            width: fit-content;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 5px; 
            padding-right: 5px;
            background: #C6C6C6;
            display: flex;
            text-align: center;
            p{
                white-space: pre;
                margin: 0px;
            }
            img{
                margin-left: 3px; 
                margin-right: 3px; 
            }
        } 
    }
}
.builder-container{
    overflow: scroll;
    height: 99vh; 
    background-color: #F9F8F8; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 20px;
    
    .builder-block-title{
        margin-bottom: 30px;
        border: 0px;
        background: transparent;
        font-size: 38px;
        margin-top: 18px;
    }
    .builder-block-container{
        .txt-container{
            .textarea-container{
                padding: 10px;
                .txt{
                    height: 250px; 
                    width: 100%;
                    overflow: hidden;
                    background-color: transparent;
                    font-size: 16px;
                    line-height: 1.32; 
                    height: 89px;
                    padding: 7px 9px;
                    white-space: pre-wrap;
                    margin: 0;
                    border-radius: 7px;
                    top: 0;resize: none; 
                    border: 0;
                }
            }
            .button{
                padding: 2px;
                cursor: pointer;
                text-align: center;
                border-top: 1px solid #C7C7C7;
                p{
                    margin: 0px;
                }
                .button-title{
                    color: #0084CA;
                    font-size: 19px;
                    margin-top: 10px;
                    margin-bottom: 0px;
                } 
                .button-subtitle{
                    display: flex;
                    margin-top: 7px;
                    margin-bottom: 12px;
                    justify-content: center;
                    p{
                        color: #858484;
                        margin-right: 7px;
                        border-right: 1px solid;
                        padding-right: 2px;
                        font-size: 14px;
                    }
                }
                .button-url{
                    color: #AAAAAA;
                    font-size: 14px;
                    font-weight: bold;
                    margin-top: 7px;
                    margin-bottom: 12px;
                }
            } 
            .err-button{
                padding: 2px;
                cursor: pointer;
                text-align: center;
                border: 1px solid #FC4338;
                p{
                    margin: 0px;
                }
                .button-title{
                    color: #FC4338;
                    font-size: 19px;
                    margin-top: 10px;
                    margin-bottom: 0px;
                } 
                .button-subtitle{
                    display: flex;
                    margin-top: 7px;
                    margin-bottom: 12px;
                    justify-content: center;
                    p{
                        color: #FC4338;
                        margin-right: 7px;
                        border-right: 1px solid;
                        padding-right: 2px;
                        font-size: 14px;
                    }
                }
                .button-url{
                    color: #FC4338;
                    font-size: 14px;
                    font-weight: bold; 
                    margin-top: 7px;
                    margin-bottom: 12px;
                }
            }
            .button-add{ 
                cursor: pointer;
                display: -webkit-inline-box;
                width: 100%;
                -webkit-box-pack: center;
                border-top: 1px solid #C7C7C7;
                .plus-container{
                    height: auto;
                    img{ 
                        height: 100%;
                        padding: 10px; 
                    } 
                } 
            }
            .button-add:hover{   
                background-color: #F4F4F4;
            }
        }

        .img-container{  
            cursor: pointer;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            text-align-last: center;
            .img-con-sub{
                img{
                    width: 60px;
                }
            } 
        }

        .car-main-con{ 
            white-space: nowrap;
            display: inline-flex ;
            .car-container{   
                margin-right: 10px;  
                .car-img{
                    height: 180px;
                    cursor: pointer; 
                    justify-content: center;
                    align-items: center;
                    text-align-last: center; 
                    border-bottom: 1px solid #C7C7C7;
                    display: flex ;
                    div{ 
                        img{
                            width: 60px;
                        }
                    }
                }
            }
            .add-car{
                width: 150px;
                height: auto;
                cursor: pointer; 
                justify-content: center;
                align-items: center;
                text-align-last: center; 
                border-bottom: 1px solid #C7C7C7;
                display: flex ;
            }
        }

        .line-bottom{
            width: 100%;
            border-bottom: 2px solid #BEBEBE;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
} 
ion-col{
    padding: 0px;
}
.ion-popover {
    --width: 4500px;
}

.mini-block{
    .mini-blocks-con{ 
        white-space: nowrap;
        .btn-mini-block-con{ 
            cursor: pointer;
            margin-left: 10px;
            height: 120px;
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            display: inline-flex ;
            div{
                text-align-last: center;
                h5{
                    color: #FFFFFF;
                    font-weight: bold;
                }
            }
        }
        .txt-color{ 
            background: #208EF0;
        }
        .img-color{ 
            background: #9273B6;
        }
        .car-color{ 
            background: #269968;
        }
    }
}


.block-card{ 
    width: 310px;
    border-radius: 7px;
    background-color: #FFFFFF;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 0 0 rgba(0, 0, 0, 0.08);
}
.item-transaparent{
    --background:#FFFFFF
}
.err-text{
    border: 2px solid red;
    color: red;
}
